@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$colPri1: #bfbfbf;
$colTxt1: #868686;
$colAcc1: #868686;

/*=============globals===================*/

*, *::before {
    box-sizing:border-box;
    margin:0;
}

html {
    font-size:16px;
    font-family:Roboto, sans-serif;
    color:$colTxt1;
    body {
      background-image:url("img/bodyTexture.png");
      button {
        border:none;
        background-color:transparent;
        color:$colTxt1;
        cursor:pointer;
      }
      button:hover {
        filter:brightness(130%);
      }
      button:active {
        filter:brightness(80%);
      }
    }
}
#scrCh {
    display:flex;
    height:1.5rem;
    justify-content:right;
    background-color:$colAcc1;
    color:white;
}
#display {
    width:100%;
  
    #editWin {
    background-color:$colPri1;
      #editCh {
        width:100%;
        background-color:$colAcc1;
        display:flex;
        justify-content:right;
        #editBut {
          height:1.5rem;
        }
      }
      #editor {
        overflow-y:auto;
        height:100%;
        width:100%;
        resize:none;
        background-color:$colPri1;
        color:$colTxt1;
        font-family:Roboto, sans-serif;
      }
    }
    #prevWin {
      background-color:$colPri1;
      #prevCh {
        width:100%;
        background-color:$colAcc1;
        display:flex;
        justify-content:right;
        #prevBut {
          height:1.5rem;
        }
      }
      #preview {
        overflow-y:auto;
      }
    }
}

//verti case

.vertiDisplay {
    
    .vertiEdit {
      min-width:300px;
      max-width:800px;
      height:400px;
      margin:0 auto 1.5rem auto;
      #editor {

        height:calc(100% - 1.5rem);
      }
    }
    .vertiMaxEdit {
      width:100%;
      height:calc(100vh - 3rem);
    }
    .vertiMinEdit {
      width:100%;
      height:1.5rem;
      #editor {
        display:none;
      }
    }
    .vertiPrev {
      min-width:300px;
      max-width:1000px;
      height:600px;
      margin:0 auto;
      #preview {
        height:calc(100% - 1.5rem);
      }
    }
    .vertiMaxPrev {
      width:100%;
      height:calc(100vh - 3rem);
    }
    .vertiMinPrev {
      width:100%;
      height:1.5rem;
      #preview {
        display:none;
      }
    }
  }
  
  //hori case 
  .horiDisplay {
    display:flex;
    flex-flow:row nowrap;
    height:calc(100vh - 1.5rem);
    .horiEdit {
      flex: 1 0 300px;
    }
    .horiMinEdit {
      flex: 0 1.5rem;
      #editor {
        display:none;
      }
      #editCh {
        height:100%;
      }
    }
    .horiMaxEdit {
      flex: 1 0 300px;
    }
    .horiPrev {
      flex: 1 0 300px;
    }
    .horiMinPrev {
      flex: 0 1.5rem;
      #preview {
        display:none;
      }
      #prevCh {
        height:100%;
      }
    }
    .horiMaxPrev {
      flex: 1 0 300px;
    }
  }
  

#preview {
    code {

    }
    pre {

    }
    a {

    }
    a:hover {

    }
    img {

    }
    blockquote {

    }
}